<div class="box box-primary">	
  <div class="box-header with-border">
	 <h1 align="center">Ver Rol</h1>
  </div>
  <div class="box-body">
  	<div class="row">
		 <div class="col-md-12">
		    <label for="nombre">Nombre: </label>
		      <%= @rol.nombre %>
		 </div>
		 <div class="col-xs-12">
 	 	 	<table class="table table-striped">
 	 			<thead align="center">
 	 		        <tr>
 	 		            <th>Acciones Permitidas</th>
 	 		        </tr>
 	 		    </thead>
 	 		    <% if @rol.nombre == "admin" %>
 	 			<tbody>
 	 				<tr>
 	 					<td> 
	 						Todas las acciones
	 					</td>
 	 				</tr>
 	 			</tbody>
 	 			<% else %>
 	 			<tbody>
 	 				<td> 
						<% @rol.acciones.each do |accion|%>
						<li style="list-style:none;"><%= accion.nombre %></li>
						<% end -%>
					</td>
 	 			</tbody>
				<% end -%>	
 	 		</table>	
		 </div>
	  </div>
  </div>
</div>
