<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="/assets/user2-160x160.jpg" class="img-circle" alt="User Image" />
      </div>
      <div class="pull-left info">
        <p><%= current_usuario.empleado.nombre %></p>
        <!-- Status -->
        <a href="#"><i class="fa fa-circle text-success"></i> En línea</a>
      </div>
    </div>

    <!-- search form (Optional) -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search..."/>
        <span class="input-group-btn">
          <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
        </span>
      </div>
    </form>
    <!-- /.search form -->

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">ENLACES</li>
        <!-- Optionally, you can add icons to the links -->
      <%if can? :show, Proceso or can? :show, Juicio%>
        <li class="treeview">
          <a href="#"><i class='fa fa-link'></i> <span>Procesos</span> <i class="fa fa-angle-left pull-right"></i></a>
          <ul class="treeview-menu">
            <% if can? :show, Proceso, ProcesoDetalle %>
              <li><a href="/procesos">Contensioso Adm.</a></li>
            <% end -%>
            <% if can? :show, Juicio, Actuacion %>
              <li><a href="/juicios">Civil-Laboral</a></li>
            <% end -%>
          </ul>
        </li>
      <% end -%>
      <%if can? :show, Cliente or can? :show, Empleado%>
        <li class="treeview">
          <a href="#"><i class='fa fa-link'></i> <span>Personas</span> <i class="fa fa-angle-left pull-right"></i></a>
          <ul class="treeview-menu">
            <% if can? :show, Cliente %>
              <li><a href="/clientes">Clientes</a></li>
            <% end -%>
            <% if can? :show, Empleado %>
              <li><a href="/empleados">Empleados</a></li>
            <% end -%>
          </ul>
        </li>
      <% end -%>

      <%if can? :show, Usuario or can? :show, Rol%>
        <li class="treeview">
          <a href="#"><i class='fa fa-link'></i> <span>Sistema</span> <i class="fa fa-angle-left pull-right"></i></a>
          <ul class="treeview-menu">
            <% if can? :show, Usuario %>
              <li><a href="/usuarios">Usuarios</a></li>
            <% end -%>
            <% if can? :show, Rol %>
              <li><a href="/roles">Roles</a></li>
            <% end -%>
          </ul>
        </li>
      <% end -%>

      <%if can? :show, Ciudad or can? :show, Departamento or can? :show, Ciudad or can? :show, Objeto%>
        <li class="treeview">
          <a href="#"><i class='fa fa-link'></i> <span>Registros</span> <i class="fa fa-angle-left pull-right"></i></a>
          <ul class="treeview-menu">
            <% if can? :show, Ciudad %>
              <li><a href="/ciudades">Ciudades</a></li>
            <% end -%>
            <% if can? :show, Departamento %>
              <li><a href="/departamentos">Departamentos</a></li>
            <% end -%>
            <% if can? :show, Institucion %>
              <li><a href="/instituciones">Instituciones</a></li>
            <% end -%>
            <% if can? :show, Objeto %>
              <li><a href="/objetos">Objeto de casos</a></li>
            <% end -%>
          </ul>
        </li>
      <% end -%>
    </ul><!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
